
# Prisma

# DATABASE_URL 은 password 와 같은 민감한 정보가 포함되어 있으므로,
# 보안적 측면에서 .env 파일에 포함하지 않는 것이 좋습니다.
# 실제 업무에 적용할 때에는 Secret Manager 등을 사용하여 관리하세요.
# DATABASE_URL=postgresql://postgres:postgres@pg-db:5432/panda-market
# DATABASE_URL=postgresql://postgres:postgres@localhost:15432/panda-market

DATABASE_URL="dburl"
JWT_SECRETE="secret_key"
# Application
HTTP_PORT=4000
LOGGER_LEVEL=debug